.zed {
/*ICONE CSS*/
    text-align: center;
    position: absolute;
    margin-left: 650px;
    margin-top: 200px;
}

h1 {
    text-align: center;
    font-family: arial;
    font-style: oblique;
    margin-top: 100px;
    padding-bottom: 100px


}
/*ARRIERE PLAN*/
.lucian {
    text-align: center;
    float: center;

    margin-left: 50px
}
/*INTRO AGAIN*/
.ninus {
    margin-top: 450px;
    font-family: arial;
    padding-bottom: 40px;
    background-color: #2AA9E0;
    border-radius: 10px;

}

p {
    font-family: arial;
    padding-bottom: 25px
}

ul {
    font-family: arial;

}

/*ABOUT INTRO*/
.papa{
    padding-top: 25px;
    background-color: #0070BA;


}
/*EXEMPLE DU CSS*/

.oklm {
    font-family: arial;
    background-color: #2AA9E0;
    border-radius: 10px;
    margin-top: 100px;


}
.oklm p {
background-color: #0070BA;
text-align: center;

}


/*INTRO*/
.ninus ul strong li {
background-color: white;

}
/*CONSEIL*/
.hyx {
  font-family: arial;
  background-color: #2AA9E0;
  border-radius: 10px;
  margin-top: 100px

}

.hyx p {
background-color: #0070BA;
text-align: center

}

.ninus p {
text-align: center;

}
